@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary-color: #f59e0b;
    --off-primary-color: #fff7ed;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin:auto;
}

.link {
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
}

.link-secondry {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
}

.list-no-bullets{
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-right-radius: 5rem;
    padding: 1rem;
    color: black;
}

.navigation .link {
    color: black;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .nav-pill {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-briefing {
    color: var(--primary-color);
    font-weight: bolder;
    text-align: center;
}

.section {
    padding: 1rem;
}

.section-heading {
    text-align: center;
}

.section-desc {
    text-align: center;
}

.off-color {
    background-color: var(--off-primary-color);
}

.footer {
    background-color: var(--primary-color);
    border-top-right-radius: 5rem;
    color: black;
    padding: 1rem;
    text-align: center;
}

.footer .footer-heading {
    font-weight: bold;
    text-decoration: underline;
}

.footer .link{
    color: blue;
    text-decoration: none;
}

.footer ul {
    padding-inline-start: 0px;
}
